<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sentiment Analysis</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styling.css') }}">

</head>
<body>
    <h1>Sentiment Analysis</h1>
    <form action="/" method="POST">
        <label for="text">Enter text:</label>
        <input type="text" id="text" name="text" required>
        <button type="submit">Submit</button>
    </form>
    <hr>
    {% for sentiment in result %}
        <div class="classify">
            <p>{{ result['text'] }} <i>({{ result['sentiment']}})</i></p>
        </div>
    {% endfor %}
</body>
</html>
